{% extends "base.html" %}
{% block title %}Записи пользователя {{ author.first_name }} {{ author.last_name }}{% endblock %}
{% block content %}
{% load user_filters %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                        <div class="card-body">
                                <div class="h2">
                                    <!-- Имя автора -->
                                    {{ author.first_name }} {{ author.last_name }}
                                </div>
                                <div class="h3 text-muted">
                                     <!-- username автора -->
                                     {{ author.username }}
                                </div>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                        Подписчиков: XXX <br />
                                        Подписан: XXX
                                        </div>
                                </li>
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                            <!--Количество записей -->
                                            Записей: {{ cnt }}
                                        </div>
                                </li>
                                <li class="list-group-item">
                                        {% if following %}
                                        <a class="btn btn-lg btn-light" 
                                                href="{% url 'profile_unfollow' username=author.username %}" role="button"> 
                                                Отписаться 
                                        </a> 
                                        {% else %}
                                        <a class="btn btn-lg btn-primary" 
                                                href="{% url 'profile_follow' username=author.username %}" role="button">
                                        Подписаться 
                                        </a>
                                        {% endif %}
                                </li>
                        </ul>
                </div>
        </div>

        <div class="col-md-9">

                <!-- Начало блока с отдельным постом -->
                {% for post in page %} 
                        {% include "post_item.html" %}
                {% endfor %}
            <!-- Конец блока с отдельным постом --> 

            <!-- Остальные посты -->  

            <!-- Здесь постраничная навигация паджинатора -->
                {% if page.has_other_pages %}
                        {% include "paginator.html" with items=page paginator=paginator%}
                {% endif %}
        </div>
</div>
</main>
{% endblock %}